{
  admin off
  servers {
    trusted_proxies static 172.16.0.0/12
  }
}

:8083 {
  encode gzip

  handle /api/* {
    reverse_proxy backend:8000 {
      header_up X-Forwarded-Proto https
    }
  }

  handle /admin/* {
    reverse_proxy backend:8000 {
      header_up X-Forwarded-Proto https
    }
  }

  handle /static/* {
    reverse_proxy backend:8000 {
      header_up X-Forwarded-Proto https
    }
  }

  handle /media/* {
    reverse_proxy backend:8000 {
      header_up X-Forwarded-Proto https
    }
  }

  handle /collaboration/ws/* {
    reverse_proxy y-provider:4444
  }

  handle /collaboration/api/* {
    reverse_proxy y-provider:4444
  }

  reverse_proxy frontend:3000
}
